
<app-header></app-header>




<main class="main">


     
  <div class="container">
    <div class="mt-4 d-flex" style="justify-content: space-between;">
      
      <button class="btn btn-primary" (click)="addRuche()"> Ajouter ruche</button>
    
      <div style="float: right;">
        <p-selectButton [options]="stateOptions" (ngModelChange)="changeDisplay()"  [(ngModel)]="displayType" optionLabel="label" optionValue="value" />
      </div>

    </div>

    
    <div class="row mt-2">

        <div *ngIf="displayType=='table'">
            <p-table #dt [rows]="10" [loading]="loading" [rowHover]="true" [paginator]="true" [value]="rucheList" sortMode="multiple"
            [rowsPerPageOptions]="[10,20,50,100]"
            styleClass="p-datatable-sm p-datatable-striped"
            responsiveLayout="scroll"
            [lazy]="true"
            [totalRecords]="totalRecords"
            (onLazyLoad)="loadItems($event)"
            [resizableColumns]="true"
            [responsive]="true"
            currentPageReportTemplate="Affiche {first} à {last} sur {totalRecords} entrées"
            [showCurrentPageReport]="true"
            [globalFilterFields]="['title','statut','created_at']" >
        
      
            <ng-template pTemplate="caption">
                <div class="d-flex p-ai-center justify-content-between">
                  <h5 class="p-m-0">Liste des ruches</h5>
                  <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText [(ngModel)]="search" (input)="dt.filterGlobal(search, 'contains')" type="text" class="form-control" style="padding-left: 30px"
                          placeholder="Rechercher une ruche..." />
                  </span>
                </div>
            </ng-template>
        
            <ng-template pTemplate="header">
            <tr>
            <th>Nom</th>
            <th>Nombre d'intervention</th>            
            <th>Date de création </th>
            <th>Actions</th>
            </tr>
            </ng-template>
        
        
            <ng-template pTemplate="body" let-dataItem>
        
        
            </ng-template>
        
        
        
            </p-table>
        
        </div>

        <div class=" mt-4" *ngIf="displayType=='map'">
          <div class="map-container" leaflet
            [leafletOptions]="options"
            (leafletMapReady)="onMapReady($event)"
            (leafletClick)="mapClicked($event)">
          </div>
        </div>
    </div>


  </div>



  
</main>

<app-footer></app-footer>



 

<!-- Modal of this page-->

<p-dialog header="Création d'une ruche" [modal]="true" [(visible)]="ruchedialog" [style]="{ width: '35rem' }">
    
    <form [formGroup]="rucheForm">

        <div class="form-group">
            <label for="nom" class="col-form-label">Nom de la ruche:</label>
            <input type="text" class="form-control" formControlName="nom" [(ngModel)]="this.ruche.nom" name="nom" id="nom" required>
        </div>

        <div class="form-group">
            <label for="position" class="col-form-label">Position:</label>
            <input type="text" class="form-control" formControlName="position" [(ngModel)]="this.ruche.position" name="position" id="position" required>
        </div>

        <div class="d-flex mt-4 justify-content-center align-items-center ">
            
            <button type="reset" [disabled]="senddingRequest || isUpdating" class="btn btn-light  btn_effacer me-2" (click)="fermerRuche()">Fermer</button>
          
            <button (click)="saveRuche()" type="submit" [disabled]="rucheForm.invalid || senddingRequest" class="btn d-flex justify-content-center align-items-center btn-primary">
                <span *ngIf="!senddingRequest">Enregister</span>
                <div *ngIf="senddingRequest" class="spinner-border text-sucess" role="status">
                    <span class="sr-only"></span>
                </div>
            </button>
        </div>
      </form>

</p-dialog>

