
.map-container {
  height: 500px;
}

.choose-map{

}

.choose-map:hover{
  cursor: pointer;
  color:var(--primary-color-one)
}

.dialog-map-container{
 /* height: 90%*/

 //height: 300px;

 height: 80%;

}