

.username{
    font-size: 15px;
   
    font-weight: 600;
    color: var(--menu-color);
    font-family: var(--creote-family-one);
}

.username:hover{
    font-size: 15px;
   
    font-weight: 600;
    color: var(--primary-color-one);
    font-family: var(--creote-family-one);
}