
<div class="header_area" id="header_contents">
  <div class="header_style_six_nw ver_2">

    <header class="header header_default style_six get_sticky_header">
      <div class="auto-container">
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-9 col-sm-9 col-xs-9 logo_column">
            <div class="header_logo_box">
              <a routerLink="/accueil" class="logo navbar-brand" target="_blank" rel="nofollow">
                <img src="../../../assets_files/logo.png" alt="apiculter logo" class="logo_default">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-3 col-sm-3 col-xs-3 menu_column">
            <div class="navbar_togglers hamburger_menu">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
            <div class="header_content_collapse">
              <div class="header_menu_box">
                <div class="navigation_menu">
                  <ul id="myNavbar" class="navbar_nav">
                    <li
                      [ngClass]="isRoute('/accueil')?'menu-item  menu-item-has-children dropdown position-static mega_menu nav-item active':'menu-item  menu-item-has-children dropdown position-static mega_menu nav-item'" >
                      <a routerLink="/accueil" class="dropdown-toggle nav-link">
                        <span>Acceuil</span>
                      </a>
                    </li>
                    @if(checkConnected()){
                      <li
                      [ngClass]="isRoute('/apiculteur')?'menu-item  menu-item-has-children dropdown position-static mega_menu nav-item active':'menu-item  menu-item-has-children dropdown position-static mega_menu nav-item'">
                        <a routerLink="/apiculteur" class="dropdown-toggle nav-link">
                          <span>Mon compte</span>
                        </a>
                      </li>
                    }@else {
                      <li
                        class="menu-item  menu-item-has-children dropdown  position-static mega_menu nav-item">
                        <a routerLink="/auth/connexion" class="dropdown-toggle nav-link">
                          <span>Connextion</span>
                        </a>
                      </li>

                      <li
                        class="menu-item  menu-item-has-children dropdown  position-static mega_menu nav-item">
                        <a routerLink="/auth/inscription" class="dropdown-toggle nav-link">
                          <span>Inscription</span>
                        </a>
                      </li>

                    }


                  </ul>
                </div>
              </div>


              <div class="header_right_content">


                  <ul class="navbar_nav">
                    @if(checkConnected()){
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle username"
                          data-bs-toggle="dropdown" aria-expanded="false">
                            {{userData.email}}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" (click)="disconnect()">Déconnexion</a>
                            </li>
                        </ul>
                      </li>
                     }

                  </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>



<!--

<p-dialog [baseZIndex]="999999999"  [styleClass]="'custom-dialog'" [closable]="true"     [(visible)]="ruchedialog" [style]="{ width: '35rem' }">

  <form [formGroup]="rucheForm">

    <div class="form-group">
      <label for="nom" class="col-form-label">Nom de la ruche:</label>
      <input type="text" class="form-control" formControlName="nom" [(ngModel)]="this.ruche.nom" name="nom" id="nom" required>
    </div>

    <div class="form-group">
      <label for="position" class="col-form-label">Position:</label>
      <input type="text" class="form-control" formControlName="position" [(ngModel)]="this.ruche.position" name="position" id="position" required>
    </div>

    <div class="d-flex mt-4 justify-content-center align-items-center ">

      <button type="reset" [disabled]="senddingRequest || isUpdating" class="btn btn-light  btn_effacer me-2" (click)="fermerRuche()">Fermer</button>

      <button (click)="saveRuche()" type="button" [disabled]="rucheForm.invalid || senddingRequest" class="btn d-flex justify-content-center align-items-center btn-primary">
        <span *ngIf="!senddingRequest">Enregister</span>
        <div *ngIf="senddingRequest" class="spinner-border text-sucess" role="status">
          <span class="sr-only"></span>
        </div>


      </button>
    </div>
  </form>

</p-dialog>

-->
