@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
/*
.bg-slide{
  background-image: url("assets/img/slider/slider-1.jpg");
}

.login-footer a:hover{
  cursor: pointer;
}


.btn{
  border-radius: 50px !important;

}

*/



.p-selectbutton .p-button {
  //color: #4b5563;
  height: 32px;
}



.bg-auth{
  background-color: var(--primary-color-three);
}


.custom-dialog .p-dialog-header {
  display: flex !important;
  justify-content: flex-start !important; /* Aligne tout à gauche */
}

.custom-dialog .p-dialog-header-title {
  margin-left: auto !important; /* Déplace le titre après le bouton de fermeture */
}

.custom-dialog .p-dialog-header-icon {
  order: -1 !important; /* Place le bouton de fermeture avant le titre */
}

.pi {
  font-size: .8rem;
}
.p-button.p-button-icon-only{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 10px;
}

