@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */

.bg-slide{
  background-image: url("assets/img/slider/slider-1.jpg");
}

.login-footer a:hover{
  cursor: pointer;
}


.btn{
  border-radius: 50px !important;
  
}




.p-selectbutton .p-button {
  color: #4b5563;
  height: 10px;
}