



<div id="wrapper_full" class="content_all_warpper">

    <app-header></app-header>
    <!----header----->

    <div id="content" class="site-content " style="min-height: 500px">

       <!----banner---->
       <section class="banner-section bg_op_1 background-img" >
        <!--===============spacing==============-->
        <div class="pd_top_100"></div>
        <!--===============spacing==============-->
        <div class="auto-container">
           <div class="row align-items-center">
              <div class="col-xl-7 col-lg-6 col-md-12">
                 <div class="title_all_box style_one dark_color">
                    <div class="title_sections">
                       <div class="before_title">La solution à votre business</div>
                       <h2 class="title_big">Vous recherchez une plateforme pour suivie de vos ruches ??</h2>
                    </div>
                 </div>
                <p>Nous vous affrons une plateforme pour gérer <span class="text-light">vos ruches peut importe leurs positions</span></p>

                <!--===============spacing==============-->
                 <div class="pd_bottom_20"></div>
                 <!--===============spacing==============-->
                 <div class="theme_btn_all color_one">
                   <a routerLink="/auth/inscription"  rel="nofollow" class="theme-btn one">Inscrivez vous <span class="text-light">maintenant!</span></a>
                 </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_40"></div>
                  <!--===============spacing==============-->
              </div>
              <div class="col-xl-1 hidden-lg"></div>

           </div>
        </div>
        <!--===============spacing==============-->
        <div class="pd_bottom_100"></div>
        <!--===============spacing==============-->
     </section>
     <!----banner end---->

    </div>




  </div>

  <app-footer></app-footer>
  <!-- Modal of this page-->


