
<app-header></app-header>

<!-- popup search -->
<div class="search-popup">
  <button class="close-search"><span class="far fa-times"></span></button>
  <form action="#">
    <div class="form-group">
      <input type="search" name="search-field" placeholder="Search Here..." required>
      <button type="submit"><i class="far fa-search"></i></button>
    </div>
  </form>
</div>
<!-- popup search end -->



<main class="main">

  <!-- hero slider -->
  <div class="hero-section">
    <div class="hero-slider owl-carousel owl-theme">
      <div class="hero-single bg-slide">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-lg-7 mx-auto">
              <div class="hero-content text-center">
                <h6 class="hero-sub-title">Best Natural Honey</h6>
                <h1 class="hero-title">
                  Fresh Natural And Original <span>Beekeeping</span> For You
                </h1>
                <p class="hero-text">
                  There are many variations of passages orem psum available but the majority have
                  suffered alteration in some form by injected humour or randomised.
                </p>
                <div class="hero-btn mx-auto">
                  <a href="#" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right"></i></a>
                  <a href="#" class="theme-btn">Shop Now<i
                    class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-single" style="background-image: url(assets/img/slider/slider-2.jpg);">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-lg-7 mx-auto">
              <div class="hero-content text-center">
                <h6 class="hero-sub-title">Best Natural Honey</h6>
                <h1 class="hero-title">
                  Fresh Natural And Original <span>Beekeeping</span> For You
                </h1>
                <p class="hero-text">
                  There are many variations of passages orem psum available but the majority have
                  suffered alteration in some form by injected humour or randomised.
                </p>
                <div class="hero-btn mx-auto">
                  <a href="#" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right"></i></a>
                  <a href="#" class="theme-btn">Shop Now<i
                    class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-single" style="background-image: url(assets/img/slider/slider-3.jpg);">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-lg-7 mx-auto">
              <div class="hero-content text-center">
                <h6 class="hero-sub-title">Best Natural Honey</h6>
                <h1 class="hero-title">
                  Fresh Natural And Original <span>Beekeeping</span> For You
                </h1>
                <p class="hero-text">
                  There are many variations of passages orem psum available but the majority have
                  suffered alteration in some form by injected humour or randomised.
                </p>
                <div class="hero-btn mx-auto">
                  <a href="#" class="theme-btn theme-btn2">Learn More<i class="fas fa-arrow-right"></i></a>
                  <a href="#" class="theme-btn">Shop Now<i
                    class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hero slider end -->



  <!-- feature area -->
  <div class="feature-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Who We Are</span>
            <h2 class="site-title">Let's Check Our Best <span>Features</span></h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="feature-wrapper">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="feature-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
              <div class="feature-icon">
                <img src="assets/img/icon/honeycomb.svg" alt="">
              </div>
              <h4 class="feature-title">Fresh Quality Honey</h4>
              <p>It is a long established fact that a reader will be distracted</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="feature-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
              <div class="feature-icon">
                <img src="assets/img/icon/honey-1.svg" alt="">
              </div>
              <h4 class="feature-title">Natural Honey</h4>
              <p>It is a long established fact that a reader will be distracted</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="feature-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
              <div class="feature-icon">
                <img src="assets/img/icon/bee-hive.svg" alt="">
              </div>
              <h4 class="feature-title">Organic Honey</h4>
              <p>It is a long established fact that a reader will be distracted</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="feature-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
              <div class="feature-icon">
                <img src="assets/img/icon/bee-1.svg" alt="">
              </div>
              <h4 class="feature-title">Biography Safety</h4>
              <p>It is a long established fact that a reader will be distracted</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- feature area end -->



  <!-- about area -->
  <div class="about-area py-120 mb-30">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="about-img">
              <img src="assets/img/about/02.jpg" alt="">
            </div>
            <div class="about-experience">
              <h1>15 <span>+</span></h1>
              <p class="about-experience-text">Years Of <br> Experience</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="site-heading mb-3">
              <span class="site-title-tagline">About Us</span>
              <h2 class="site-title">Fresh Organic And Orginal Honey <span>Made With</span> Love For You</h2>
            </div>
            <p class="about-text">There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by injected humour, or
              randomised words which don't look even.</p>
            <div class="about-list-wrapper">
              <ul class="about-list list-unstyled">
                <li>
                  <div class="about-icon"><span class="fas fa-check-circle"></span></div>
                  <div class="about-list-text">
                    <p>Take a look at our round up of the best shows</p>
                  </div>
                </li>
                <li>
                  <div class="about-icon"><span class="fas fa-check-circle"></span></div>
                  <div class="about-list-text">
                    <p>It has survived not only five centuries</p>
                  </div>
                </li>
                <li>
                  <div class="about-icon"><span class="fas fa-check-circle"></span></div>
                  <div class="about-list-text">
                    <p>Lorem Ipsum has been the ndustry standard dummy text</p>
                  </div>
                </li>
              </ul>
            </div>
            <a href="about.html" class="theme-btn">Read More <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about area end -->



  <!-- service-area -->
  <div class="service-area bg py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Our Services</span>
            <h2 class="site-title">Our Awesome <span>Services</span></h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="service-icon">
              <img src="assets/img/icon/flower.svg" alt="">
            </div>
            <div class="service-content">
              <h3 class="service-title">
                <a href="#">Flowers Produce</a>
              </h3>
              <p class="service-text">
                There are many variations of passages orem psum available but the majority have
                suffered alteration in some.
              </p>
              <div class="service-arrow">
                <a href="#"><i class="fas fa-arrow-right"></i> <span>Read More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
            <div class="service-icon">
              <img src="assets/img/icon/bee-2.svg" alt="">
            </div>
            <div class="service-content">
              <h3 class="service-title">
                <a href="#">Natural Bees</a>
              </h3>
              <p class="service-text">
                There are many variations of passages orem psum available but the majority have
                suffered alteration in some.
              </p>
              <div class="service-arrow">
                <a href="#"><i class="fas fa-arrow-right"></i> <span>Read More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
            <div class="service-icon">
              <img src="assets/img/icon/bee-hive-3.svg" alt="">
            </div>
            <div class="service-content">
              <h3 class="service-title">
                <a href="#">Bees Seal Cells</a>
              </h3>
              <p class="service-text">
                There are many variations of passages orem psum available but the majority have
                suffered alteration in some.
              </p>
              <div class="service-arrow">
                <a href="#"><i class="fas fa-arrow-right"></i> <span>Read More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="service-icon">
              <img src="assets/img/icon/immunity.svg" alt="">
            </div>
            <div class="service-content">
              <h3 class="service-title">
                <a href="#">Increases Immunity</a>
              </h3>
              <p class="service-text">
                There are many variations of passages orem psum available but the majority have
                suffered alteration in some.
              </p>
              <div class="service-arrow">
                <a href="#"><i class="fas fa-arrow-right"></i> <span>Read More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
            <div class="service-icon">
              <img src="assets/img/icon/honeycomb.svg" alt="">
            </div>
            <div class="service-content">
              <h3 class="service-title">
                <a href="#">Honey Comb</a>
              </h3>
              <p class="service-text">
                There are many variations of passages orem psum available but the majority have
                suffered alteration in some.
              </p>
              <div class="service-arrow">
                <a href="#"><i class="fas fa-arrow-right"></i> <span>Read More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
            <div class="service-icon">
              <img src="assets/img/icon/product.svg" alt="">
            </div>
            <div class="service-content">
              <h3 class="service-title">
                <a href="#">Well Product</a>
              </h3>
              <p class="service-text">
                There are many variations of passages orem psum available but the majority have
                suffered alteration in some.
              </p>
              <div class="service-arrow">
                <a href="#"><i class="fas fa-arrow-right"></i> <span>Read More</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- service-area end -->



  <!-- gallery-area -->
  <div class="gallery-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Gallery</span>
            <h2 class="site-title">Our Awesome Photo <span>Gallery</span></h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="row popup-gallery">
        <div class="col-md-4">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/01.jpg" alt="">
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/01.jpg"><i
                class="far fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/02.jpg" alt="">
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/02.jpg"><i
                class="far fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/04.jpg" alt="">
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/04.jpg"><i
                class="far fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/04.jpg" alt="">
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/04.jpg"><i
                class="far fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/05.jpg" alt="">
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/05.jpg"><i
                class="far fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/06.jpg" alt="">
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/06.jpg"><i
                class="far fa-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- gallery-area end -->



  <!-- shop-area -->
  <div class="shop-area bg py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Our Shop</span>
            <h2 class="site-title">Lets Check Popular <span>Products</span></h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <span class="shop-item-sale">Sale</span>
              <img src="assets/img/shop/01.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Manuka Honey</h4>
              </a>
              <div class="shop-item-price"><del>$100</del> $80</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <img src="assets/img/shop/03.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Wildflower Honey</h4>
              </a>
              <div class="shop-item-price">$60</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <img src="assets/img/shop/04.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Queen Bee Honey</h4>
              </a>
              <div class="shop-item-price">$110</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <span class="shop-item-sale">Sale</span>
              <img src="assets/img/shop/02.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Raw Honey</h4>
              </a>
              <div class="shop-item-price"><del>$120</del> $90</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <img src="assets/img/shop/05.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Blueberry Honey</h4>
              </a>
              <div class="shop-item-price">$70</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <img src="assets/img/shop/06.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Sage Honey</h4>
              </a>
              <div class="shop-item-price">$50</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <img src="assets/img/shop/07.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Pinetree Honey</h4>
              </a>
              <div class="shop-item-price">$120</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="shop-item">
            <div class="shop-item-img">
              <img src="assets/img/shop/08.png" alt="">
              <div class="shop-item-meta">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-eye"></i></a>
                <a href="#"><i class="far fa-shopping-cart"></i></a>
              </div>
            </div>
            <div class="shop-item-info">
              <div class="shop-item-rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <a href="#">
                <h4 class="shop-item-title">Sourwood Honey</h4>
              </a>
              <div class="shop-item-price">$150</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- shop-area end -->



  <!-- choose area -->
  <div class="choose-area py-120">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="choose-content wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="site-heading mb-3">
              <span class="site-title-tagline">Why Choose Us</span>
              <h2 class="site-title">
                Why Customers Choose <span>Our Fresh Organic</span> Honey
              </h2>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have
              suffered alteration in some form, by injected humour, or randomised words which don't
              look even slightly believable.
            </p>
            <div class="choose-wrapper mt-2">
              <div class="row">
                <div class="col-lg-6">
                  <div class="choose-item">
                    <div class="choose-icon">
                      <img src="assets/img/icon/honey-2.svg" alt="">
                    </div>
                    <div class="choose-item-content">
                      <h4>Made With Love</h4>
                      <p>There are many the majority have suffered.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="choose-item">
                    <div class="choose-icon">
                      <img src="assets/img/icon/bee-hive-2.svg" alt="">
                    </div>
                    <div class="choose-item-content">
                      <h4>Forest Honey</h4>
                      <p>There are many the majority have suffered.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="choose-item">
                    <div class="choose-icon">
                      <img src="assets/img/icon/bee-hive-3.svg" alt="">
                    </div>
                    <div class="choose-item-content">
                      <h4>Original Honey</h4>
                      <p>There are many the majority have suffered.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="choose-item">
                    <div class="choose-icon">
                      <img src="assets/img/icon/honey-3.svg" alt="">
                    </div>
                    <div class="choose-item-content">
                      <h4>Raw Honey</h4>
                      <p>There are many the majority have suffered.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="choose-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="choose-img">
              <img src="assets/img/choose/01.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- choose area end -->



  <!-- video area -->
  <div class="video-area">
    <div class="container-fluid px-0">
      <div class="video-content" style="background-image: url(assets/img/video/01.jpg);">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="video-wrapper">
              <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU">
                <i class="fas fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- video area end -->



  <!-- team-area -->
  <div class="team-area pt-120 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Team</span>
            <h2 class="site-title">Meet With Our Experts <span>Team</span></h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="team-img">
              <img src="assets/img/team/01.jpg" alt="thumb">
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="#">Edna Craig</a></h5>
                <span>Product Manager</span>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
            <div class="team-img">
              <img src="assets/img/team/02.jpg" alt="thumb">
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="#">Jeffrey Cox</a></h5>
                <span>Marketing Manager</span>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
            <div class="team-img">
              <img src="assets/img/team/03.jpg" alt="thumb">
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="#">Hendry Jae</a></h5>
                <span>CEO & Founder</span>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
            <div class="team-img">
              <img src="assets/img/team/04.jpg" alt="thumb">
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="#">Rodger Gara</a></h5>
                <span>Developer</span>
              </div>
              <div class="team-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- team-area end -->



  <!-- testimonial-area -->
  <div class="testimonial-area bg py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Testimonials</span>
            <h2 class="site-title">What Our Client <span>Say's</span></h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="testimonial-slider owl-carousel owl-theme wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
        <div class="testimonial-single">
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/01.jpg" alt="">
            </div>
            <div class="testimonial-author-info">
              <h4>Sylvia H Green</h4>
              <p>Customer</p>
            </div>
          </div>
          <div class="testimonial-quote">
            <p>
              There are many variations of passages available but the majority have suffered alteration in some form by injected popularity belief believable.
            </p>
            <div class="testimonial-quote-icon">
              <i class="icon-quote"></i>
            </div>
          </div>
          <div class="testimonial-rate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="testimonial-single">
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/02.jpg" alt="">
            </div>
            <div class="testimonial-author-info">
              <h4>Gordo Novak</h4>
              <p>Customer</p>
            </div>
          </div>
          <div class="testimonial-quote">
            <p>
              There are many variations of passages available but the majority have suffered alteration in some form by injected popularity belief believable.
            </p>
            <div class="testimonial-quote-icon">
              <i class="icon-quote"></i>
            </div>
          </div>
          <div class="testimonial-rate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="testimonial-single">
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/03.jpg" alt="">
            </div>
            <div class="testimonial-author-info">
              <h4>Reid E Butt</h4>
              <p>Customer</p>
            </div>
          </div>
          <div class="testimonial-quote">
            <p>
              There are many variations of passages available but the majority have suffered alteration in some form by injected popularity belief believable.
            </p>
            <div class="testimonial-quote-icon">
              <i class="icon-quote"></i>
            </div>
          </div>
          <div class="testimonial-rate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="testimonial-single">
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/04.jpg" alt="">
            </div>
            <div class="testimonial-author-info">
              <h4>Parker Jimenez</h4>
              <p>Customer</p>
            </div>
          </div>
          <div class="testimonial-quote">
            <p>
              There are many variations of passages available but the majority have suffered alteration in some form by injected popularity belief believable.
            </p>
            <div class="testimonial-quote-icon">
              <i class="icon-quote"></i>
            </div>
          </div>
          <div class="testimonial-rate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="testimonial-single">
          <div class="testimonial-content">
            <div class="testimonial-author-img">
              <img src="assets/img/testimonial/05.jpg" alt="">
            </div>
            <div class="testimonial-author-info">
              <h4>Heruli Nez</h4>
              <p>Customer</p>
            </div>
          </div>
          <div class="testimonial-quote">
            <p>
              There are many variations of passages available but the majority have suffered alteration in some form by injected popularity belief believable.
            </p>
            <div class="testimonial-quote-icon">
              <i class="icon-quote"></i>
            </div>
          </div>
          <div class="testimonial-rate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial-area end -->



  <!-- blog-area -->
  <div class="blog-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
          <div class="site-heading text-center">
            <span class="site-title-tagline">Our Blog</span>
            <h2 class="site-title">Our Latest News And <span>Blog</span></h2>
            <div class="heading-divider"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
            <div class="blog-item-img">
              <img src="assets/img/blog/01.jpg" alt="Thumb">
            </div>
            <div class="blog-item-info">
              <h4 class="blog-title">
                <a href="#">There are many variations available the alteration majority have suffered</a>
              </h4>
              <div class="blog-item-meta">
                <ul>
                  <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                  <li><a href="#"><i class="far fa-calendar-alt"></i> Jan 01, 2024</a></li>
                </ul>
              </div>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
              </p>
              <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
            <div class="blog-item-img">
              <img src="assets/img/blog/02.jpg" alt="Thumb">
            </div>
            <div class="blog-item-info">
              <h4 class="blog-title">
                <a href="#">There are many variations available the alteration majority have suffered</a>
              </h4>
              <div class="blog-item-meta">
                <ul>
                  <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                  <li><a href="#"><i class="far fa-calendar-alt"></i> Jan 01, 2024</a></li>
                </ul>
              </div>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
              </p>
              <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
            <div class="blog-item-img">
              <img src="assets/img/blog/03.jpg" alt="Thumb">
            </div>
            <div class="blog-item-info">
              <h4 class="blog-title">
                <a href="#">There are many variations available the alteration majority have suffered</a>
              </h4>
              <div class="blog-item-meta">
                <ul>
                  <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                  <li><a href="#"><i class="far fa-calendar-alt"></i> Jan 01, 2024</a></li>
                </ul>
              </div>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
              </p>
              <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- blog-area end -->



  <!-- partner area -->
  <div class="partner-area pt-70 pb-70">
    <div class="container">
      <div class="partner-wrapper partner-slider owl-carousel owl-theme">
        <img src="assets/img/partner/01.png" alt="thumb">
        <img src="assets/img/partner/01.png" alt="thumb">
        <img src="assets/img/partner/01.png" alt="thumb">
        <img src="assets/img/partner/01.png" alt="thumb">
        <img src="assets/img/partner/01.png" alt="thumb">
        <img src="assets/img/partner/01.png" alt="thumb">
        <img src="assets/img/partner/01.png" alt="thumb">
      </div>
    </div>
  </div>
  <!-- partner area end -->

</main>

<app-footer></app-footer>


